.highlighted {
  --c-highlight: #00fbff;

  font-size: 3em;

  span {
    background: linear-gradient(to right, var(--c-highlight), var(--c-highlight)) 0 100% / 100% 50%
      no-repeat;
    transition: background-size 0.3s;

    &:hover {
      background-size: 100% 100%;
    }
  }
}

.themed {
  --c-highlight: var(--c-accent-2);
}
