.hint {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  display: block;
  height: 88px;
  width: 88px;
}
