.cssChallenge05 {
  container-type: scroll-state;
  overflow: auto;
  height: 300px;
  font-size: larger;
  line-height: 1.6;

  footer {
    position: sticky;
    bottom: 0;
    padding: 2rem 1rem;
    background-color: var(--c-base-dark);
    color: var(--c-base-light);
    transform: translateY(calc(100% + 1rem));
    transition: transform 0.3s;

    @supports (container-type: scroll-state) {
      @container scroll-state(scrollable: top) {
        transform: translateY(0);
      }
    }
  }
}
