.products {
  counter-reset: products;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;

  ::marker {
    line-height: 1;
  }

  & > li {
    --counter-height: 4.5rem;

    counter-increment: products;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 0.75rem;
    border: 2px solid rgba(214, 214, 214, 1);
    border-radius: 0.75rem;
    transition: border-color 0.3s;

    &::before {
      content: counter(products);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.75rem auto;
      width: 4.5rem;
      height: var(--counter-height);
      font-size: 3rem;
      font-weight: bold;
      line-height: 1;
      background-color: #090D3D;
      color: white;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(var(--counter-height) + 1.5rem + 0.75rem); /* + li.pt + margin from counter */
      left: 0.75rem;
      width: 4.5rem;
      height: 4.5rem;
      background-color: #56C6FA;
      background-image: url('assets/images/css-challenge-22/check--large.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2.5rem 2.5rem;
    }

    &:hover {
      border-color: #EF7B69;
    }
  }

  img {
    position: relative;
    display: block;
    margin: 0 auto 1rem;
    width: 100%;
    height: 230px;
    object-fit: contain;
    background-color: #fff;
  }

  h1 {
    flex: 1;
    margin: 0 auto 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }

  p {
    a {
      font-weight: bold;
      color: inherit;
    }
  }

  h2 {
    margin: 0 auto 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.productInfo {
  & > a {
    display: block;
    margin-bottom: 0.75rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #EF7B69;
    border-radius: 0.75rem;
    color: #fff;
  }
}

.pros,
.cons {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.75rem;
    padding: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      vertical-align: bottom;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 1.5rem 1.5rem;
    }
  }
}

.pros {
  margin-bottom: 2rem;

  li {
    &::before {
      background-image: url('assets/images/css-challenge-22/check.svg');
    }
  }
}

.cons {
  li {
    &::before {
      background-image: url('assets/images/css-challenge-22/minus.svg');
    }
  }
}