.verticalGrid {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 40rem;
  margin-bottom: 3rem;
}

.topPanel {
  background-color: var(--c-base-dark);
}

.bottomPanel {
  height: 100%;
}

.horizontalGrid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100%;
}

.leftPanel {
  background-color: var(--c-base-dark);
}

.rightPanel {
  background-color: var(--c-base-dark);
}

.resizer {
  --width: 0.5rem;

  display: block;
  padding: 0;
  background-color: var(--c-accent-1);
  border: 0;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--c-accent-2);
  }

  &.horizontal {
    height: var(--width);
    cursor: row-resize;
  }

  &.vertical {
    width: var(--width);
    cursor: col-resize;
  }
}