.calendar {
  &-grid {
    display: grid;
    grid-template-columns: repeat(7, 2.5rem);
    gap: 0.25rem;
  }

  &-day,
  &-day-header {
    font-weight: bold;
    text-align: center;
  }

  &-day {
    height: 2.5rem;
    background-color: transparent;
    border: 0;
    color: var(--c-accent-1);
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    
    &:hover {
      background-color: var(--c-accent-2);
      color: var(--c-base-light);
    }
  
    &:first-of-type {
      grid-column-start: 7;
    }
    
    &.selected {
      background-color: var(--c-accent-1);
      color: var(--c-base-light);
    }

    &-header {
      height: auto;
      font-size: 0.625rem;
      text-transform: uppercase;
    }
  }
}