.calendar {
  &Grid {
    display: grid;
    grid-template-columns: repeat(7, 2.5rem);
    gap: 0.25rem;
  }

  &Day,
  &DayHeader {
    font-weight: bold;
    text-align: center;
  }

  &Day {
    height: 2.5rem;
    background-color: transparent;
    border: 0;
    color: var(--c-accent-1);
    transition:
      background-color 0.2s,
      color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--c-accent-2);
      color: var(--c-base-light);
    }

    &:first-of-type {
      grid-column-start: 7;
    }

    &.selected {
      background-color: var(--c-accent-1);
      color: var(--c-base-light);
    }

    &Header {
      height: auto;
      font-size: 0.625rem;
      text-transform: uppercase;
    }
  }
}
