.gallery {
  position: relative;
  padding-bottom: 45%;

  &Track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 2%;
  }
}

.item {
  scroll-snap-align: center;
  display: flex;
  height: 100%;
}

.image {
  width: auto;
  height: 100%;
}
