.textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--c-accent-2);
  border: none;
  border-radius: 1rem;
  color: var(--c-base-dark);

  &:focus {
    outline: 2px dashed var(--c-base-dark);
    outline-offset: 2px;
  }

  &::placeholder {
    color: var(--c-base-dark);
    opacity: 0.75;
  }
}

.count {
  text-align: right;
}