.photo-gallery-card {
  overflow: hidden;
  border-radius: 0.5rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.with-overflow {
    position: relative;

    &::after {
      content: attr(data-overflow);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 3rem;
      background-color: var(--c-overflow);
      color: var(--c-accent-light);
    }
  }
}