:root {
  --c-base-light: #fcf5ed;
  --c-base-dark: #1f1717;
  --c-accent-1: #ce5a67;
  --c-accent-2: #f4bf96;
  --c-overflow: rgba(0, 0, 0, 0.2);
  --c-accent-light: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: var(--c-base-light);
  color: var(--c-base-dark);
}
