:root {
  --c-base-light: #FCF5ED;
  --c-base-dark: #1F1717;
  --c-accent-1: #CE5A67;
  --c-accent-2: #F4BF96;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--c-base-light);
  color: var(--c-base-dark);
}