.pageContents {
  height: 75vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4rem;

    &-track,
    &-thumb {
      border-radius: 2rem;
    }

    &-track {
      background: var(--c-base-dark);
    }

    &-thumb {
      background: var(--c-accent-1) url('assets/images/css-challenge-16/pattern.svg') top left
        repeat;
      border: 0.25rem solid var(--c-base-dark);
    }
  }
}
