.input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: 2px solid var(--c-base-light);
  border-radius: 0.625rem;
  color: inherit;

  &:focus {
    outline: 2px dashed var(--c-accent-2);
    outline-offset: 2px;
  }
}