.menu {
  padding: 1rem;
  background-color: var(--c-base-dark);
  color: var(--c-base-light);

  a {
    color: inherit;
  }

  &:has(input:checked) .list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
  }
}

.toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  &:hover {
    .toggleIcon,
    .toggleIcon::before,
    .toggleIcon::after {
      background-color: var(--c-accent-1);
    }
  }

  input {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;

    &:checked {
      & + .toggleIcon {
        background-color: transparent;

        &::before {
          transform: translateY(0.5rem) rotate(45deg);
        }

        &::after {
          transform: translateY(-0.5rem) rotate(-45deg);
        }
      }
    }
  }

  &Icon {
    &,
    &::before,
    &::after {
      display: block;
      width: 2rem;
      height: 2px;
      background-color: var(--c-base-light);
      border-radius: 0.125rem;
      transition:
        transform 0.3s,
        background-color 0.3s;
    }
  }

  &Icon {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.5rem;
    }

    &::after {
      top: 0.5rem;
    }
  }
}

.list {
  list-style: none;
  interpolate-size: allow-keywords;
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  transition: height 0.4s;

  li {
    margin: 0 0 1rem;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    transition: color 0.3s;

    &:hover {
      color: var(--c-accent-1);
    }
  }
}
