.navigation {
  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid currentColor;
    color: inherit;
    transition:
      color 0.3s,
      background-color 0.3s,
      border-color 0.3s;

    &:hover {
      color: #000;
      background-color: var(--c-accent-1);
      border-color: var(--c-accent-1);
    }
  }
}
