.css-challenge-06 {
  background: 
    linear-gradient(to bottom, var(--c-base-light) 0, var(--c-base-light) 0),
    linear-gradient(to right top, var(--c-accent-1) 50%, var(--c-base-light) 50%),
    linear-gradient(to bottom, var(--c-accent-1) 0, var(--c-accent-1) 0);
  background-size: 100% 100%, 100% calc(100% - 100vh), 100% 90%;
  background-position: 0 3px, 0 0, 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed, scroll, scroll;
}